<extend name="Public/base" />

<block name="body">
    <!-- 表单 -->
    <form id="form" action="{:U('update')}" method="post" class="form-horizontal">
        <div class="form-item cf">
            <label class="item-label">会员类型名<span class="check-tips">（输入行为标识 中文）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="mean" value="{$userType.mean}">
            </div>
        </div>

        <div class="form-item cf">
            <label class="item-label">类型属性<span class="check-tips">（输入行为标识 英文字母）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="type_value" value="{$userType.type_value}">
            </div>
        </div>

        <div class="form-item cf">
            <label class="item-label">权重值<span class="check-tips">（输入行为标识 阿拉伯数字）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="sort" value="{$userType.sort}">
            </div>
        </div>


        <div class="form-item">
            <input type="hidden" name="user_type_id" value="{$userType.user_type_id}"/>
            <button type="submit" class="btn submit-btn ajax-post" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        //导航高亮
        highlight_subnav('{:U('UserType/edit')}');
    </script>
</block>
